{% extends 'artnetapp/base.html' %} 
{% block content %}
<h3>
    Welcome!
</h3>


<img  alt="welcome image" src="https://i.ibb.co/QQWzZzJ/Artnet.png"/>
{%if user.is_authenticated %}
<h1>
    &#127863; Hello {{user.first_name}} {{user.last_name}}!
</h1>
{% else %}
<a href="{% url 'login' %}" ><button>Login</button></a>
<a href="{% url 'signup' %}" ><button> Signup </button></a>
{% if artworks %}
            <h3>
               Here is your daily dose of artworks:
            </h3>
            
            
                {% for artwork in page_obj %}
                    <article>
                        <h2>{{artwork.name}}</h2>
                        <img src='{{artwork.artwork_image.url}}' height=600 width=800></img>
                        {% if user.is_authenticated %}
                            
                            <a href="{% url 'artwork-comment' artwork.id %}"><button>Comment</button></a>
                            <a href="{{artwork.get_absolute_url}}"><button>View Details</button></a>
                            <div id='artwork_{{artwork.id}}'>
                                {% include  'artnetapp/partials/like_area.html' %}
                            </div>
                        {% endif %}
                        
                    </article>
                {% endfor %}
            
          
        {% endif %}
        <a href="{% url 'home' %}">
            <button>Refresh</button>
        </a>

   
{% endif %}
{% endblock %}