{% extends 'artnet_app/base.html' %} 
{% block content %}
<article>
<figure>
<h3>
    Welcome!
</h3>

{% load static %}
<img  alt="welcome image" src="{% static 'Artnet.png' %}"/>
{%if user.is_authenticated %}
<h1>
    &#127863; Hello {{user.first_name}} {{user.last_name}}!
</h1>
{% else %}

    <a href="{% url 'login' %}" ><button>Login</button></a>
    <a href="{% url 'signup' %}" ><button> Signup </button></a>

{% endif %}
        {% if artworks %}
            <h3>
               Here is your daily dose of artworks:
            </h3>
            
            
                {% for artwork in page_obj %}
                    <article>
                        <h2>{{artwork.name}}</h2>
                        <img src='{{artwork.artwork_image.url}}' height=600 width=800></img>
                        {% if user.is_authenticated %}
                            
                            <a href="{% url 'artwork-comment' artwork.id %}"><button>Comment</button></a>
                            <a href="{{artwork.get_absolute_url}}"><button>View Details</button></a>
                            <div id='artwork_{{artwork.id}}'>
                                {% include  'artnet_app/partials/like_area.html' %}
                            </div>
                        {% endif %}
                        
                    </article>
                {% endfor %}
            
          
        {% endif %}
        <a href="{% url 'home' %}">
            <button>Refresh</button>
        </a>
        <article>
            <figure>
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}">next</a>
                    <a href="?page={{page_obj.paginator.num_pages}}">last</a>
                {% endif %}
                <br>
                {% if page_obj.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}
                <br> 
                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
            </figure>
        </article>
    </figure>
</article>

{% endblock %}